{% extends 'base.html.twig' %}

{% block title %}New Vitrine
{% endblock %}

{% block main %}
	<h1>Create new Vitrine</h1>

	{{ include('vitrine/_form.html.twig') }}
	{{ include('vitrine/_back_form.html.twig') }}
{% endblock %}
