<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<!-- Core theme CSS (includes Bootstrap)-->
			<link href={{ asset('css/styles.css', 'startbootstrap') }} rel="stylesheet">
		{% endblock %}
		{# stylesheets #}

		{% block javascripts %}
			<!-- Bootstrap core JS-->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
			<!-- Core theme JS-->
			<script src={{ asset('js/scripts.js', 'startbootstrap') }}></script>
		{% endblock %}
		{# javascripts #}
		<style>
			body {
				display: flex;
				flex-direction: column;
				min-height: 100vh;
			}
			.blank {
				flex: 1;
			}
		</style>
	</head>
	<body>
		{% block menu %}
			<!-- Navigation -->
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<a class="navbar-brand" href={{ path('app_bibliotheque_index') }}>Bibiothèque</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							{{ render_bootstrap_menu('main') }}
						</ul>
					</div>
				</div>
			</nav>
		{% endblock %}
		{# menu #}
		{% block body %}
			<div class="container body-container">
				<main>
					{% block main %}{% endblock %}
				</main>
			</div>
		{% endblock %}
		<div class="blank"></div>
		<footer class="text-center text-lg-start bg-light text-muted">
			<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
				FOOTER
			</div>
		</footer>
	</body>
</html>
