{# source: https://stackoverflow.com/a/65082524/1814910 #}
<ul>
	{% for livre in field.value %}
		{%- set url = ea_url()
    .setController('App\\Controller\\Admin\\LivreCrudController')
    .setAction('detail')
    .setEntityId(livre.id)
  -%}
		<li>
			<a href="{{ url }}">
				{{ livre }}
			</a>
		</li>
{% else %}
	</ul>
	<span class="badge badge-secondary">None</span>
	<ul>
	{% endfor %}
</ul>
