{% extends 'base.html.twig' %}

{% block title %}Liste des bibliothèques
{% endblock %}

{% block main %}
	<h1>Liste des bibliothèques :</h1>
	<ul>
		{% for bibliotheque in list_bibliotheques %}
			<li>
				<a href={{path('app_bibliotheque_show', {id: bibliotheque.id} )}}>
					<h2>{{ bibliotheque.name }}</h2>
				</a>
				<p>{{bibliotheque.description}}</p>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
